<!DOCTYPE html>
<html>
 <head>
  <title>Live view and sentiment analysis</title>
  <script>
    let scrapedData = {{scraped_data | safe}};
    console.log(scrapedData)
  </script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
  <style>
    html, body, #container {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    }
    html, body, #liveView {
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
    }
  </style>
 </head>
  <body>
    <div id="news" hidden></div>
    <div id="container"></div>
    <div id="liveView"></div>
    <script src="{{url_for('static', filename='wordCloud.js')}}"></script>
    <script src="{{url_for('static', filename='liveView.js')}}"></script>
  </body>
</html>

