<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ c_name }} Info</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  {% include 'nav.html' %}

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div id="main-chart"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3" style="margin-left:100px;margin-top:10px">
      <div class="card card-primary">
        <div class="card-header">
          <h4 class="card-title"> {{ com_name }}</h4>
        </div>
        <div id="company" class="card-body"></div>
      </div>
    </div>

    <div class="col-md-4">
      <select id="pages" onchange="optionChanged(this.value, company_news)" style="margin-bottom:5px;margin-top:5px;"></select>
      <div id="news">
        <div id="row1"></div>
        <div id="row2"></div>
        <div id="row3"></div>
      </div>
    </div>

        <div class="col-md-3" style="margin-left:20px;float:right;">
          <div>
          <img src="data:image/png;base64, {{er_image}}" alt="Earnings vs Revenues" style="margin-top:5px;width:420px;height:420px;">
        </div>
      </div>

  </div>

</div>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/eventListener.js') }}"></script>

  <script>
    const companyData = {{ company_data|tojson }};
    const company_news = {{ news|tojson }};

    const stockDate = {{ ticker_date|tojson }};
    const stockHigh = {{ ticker_high|tojson }};
    const stockLow = {{ ticker_low|tojson }};

    const stockName = {{ com_name|tojson }};
    console.log(stockName);

    createTable(companyData);
    newsPage(company_news);
    mainChart(stockDate, stockHigh, stockLow, stockName);
  </script>
</body>
</html>